@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color:#fafafa
}

p {
    font-size: 120%;
}

a {
    background-color: transparent;
    color: orange;
}
a:hover {
    
    color: green;
}

/* headings and logo */
h1 {
    font-size: 170%;
}


h1, h2 {
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:orange
}

#logo {
    float:left;
    font-size: 280%;
    margin-left:30px; 
}

/* nav links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height:75px
}

#menu li{
    float:right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    border: 2px solid orange;
    padding: 6px;
    font-weight: 600;
}

#menu a:hover {
    border: 2px solid #fafafa;
    color: #fafafa;
}

#menu .active {
    border: 2px solid #fafafa;
    color: orange;
}

/* hero image & text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2, #cover-text h3{
        /* color:white; */
        background-color: transparent;
        padding-bottom: 20px;
        text-align: center;
}

#hero-image {
    height:600px;
    width:100%;

    /* image sourced from https://www.pexels.com/photo/close-up-photography-of-microphone-144429/ */
    background: url('../images/hero.jpg') no-repeat center center;
    background-size: cover;

    /* animates the hero image upon loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the hero image zoom */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    color:#fafafa;
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    width:400px;
    height:300px;
    padding-top: 60px;
    padding: left 10px;
    top: 30px;
    left: 150px;
    position: absolute
}

/* Regular Comedy Nights Section */
.center-section {
    margin:auto;
}

#regular-section {
    max-height:1200px;
    aspect-ratio: 4075/2722; /* Based on original image size*/
    background: url('../images/bar.jpg') no-repeat center center;
    background-size:cover;
}

#regular-section h1{
    height:40px;
    text-align: center;
    padding:30px
}

#regular-section h2, p {
    background-color: transparent;
}

#regular-section h2{
    padding: 30px;
}

#regular-nights-grid {
    margin: auto;
    max-width: 1800px;
    display:grid;
    row-gap: 50px;
    column-gap: 400px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    background-color: transparent;
}

.regular-night-boxes{
    width: 600px;
    height: 600px;
    background-color: rgba(54, 54, 54, 0.7);
    text-align: center;
    border-radius: 15%;
}

/* Below colors For testing Box Layout TODO Remove */
/* 
#top-left-regular {
    background-color: rgba(85, 85, 85, 0.7);
}

#top-right-regular {
    background-color: rgba(192, 192, 192, 0.5);
}

#bottom-left-regular {
    background-color: rgba(0, 128, 0, 0.473);
}

#bottom-right-regular {
    background-color: rgba(255, 0, 0, 0.466);
}
 */
/* Touring Venus */


/* Regular Comedy Nights Section */
#tour-section {
    max-height:1200px;
    aspect-ratio: 4075/2722; /* Based on original image size*/
    background: url('../images/stage.jpg') no-repeat center center;
    background-size:cover;
}

#tour-section h1{
    height:40px;
    text-align: center;
    padding:30px
}

#tour-section h2, p {
    background-color: transparent;
}

#tour-section h2{
    padding: 30px;
}

#tour-gigs-grid {
    margin: auto;
    max-width: 1800px;
    display:grid;
    row-gap: 50px;
    column-gap: 400px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    background-color: transparent;
}

.tour-boxes{
    width: 600px;
    height: 600px;
    background-color: rgba(39, 39, 39, 0.7);
    text-align: center;
    border-radius: 15%;
}
