@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fafafa;
    background-color: #000000;
}

p {
    font-size: 120%;
}


hr {
    border-top: 1px solid #ffa500;
}

a {
    color: #ffa500;
}

body section a:hover {

    color: #008000;
}

/* headings and logos */
h1 {
    font-size: 170%;
}

h1,
h2 {
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffa500
}

.small-logo {
    display: none;
}

.logos {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* nav links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    width: fit-content;
    float: right;
}

#menu,
.logos,
.mobile-menu {
    line-height: 75px
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    border: 2px solid #ffa500;
    padding: 6px;
    font-weight: 600;
}

#menu a:hover,
.mobile-menu a:hover {
    border: 2px solid #fafafa;
    color: #fafafa;
}

#menu .active,
.mobile-menu .active {
    border: 2px solid #fafafa;
    color: #ffa500;
}

.mobile-menu {
    float: right;
    list-style-type: none;
    font-size: 180%;
    margin: 1%;
    display: inline;
}

.mobile-menu li {
    float: left;
    margin-right: 30px;
}

/* hero image & text*/

#hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2,
#cover-text h3 {
    padding-bottom: 15%;
    text-align: center;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

/* creates the hero image zoom */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    color: #fafafa;
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    width: 400px;
    height: 300px;
    padding-top: 60px;
    padding-left: 10px;
    top: 30px;
    left: 150px;
    position: absolute;
}

/* generic section styles */

.home-sections {
    margin: 0 auto;
    background-size: cover;

}

.home-sections h1 {
    height: 40px;
    text-align: center;
    padding: 30px;
    background: #000000;
}

.home-section-cards {
    max-width: 80%;
    height: auto;
    background-color: #2b2b2bbb;
    text-align: center;
    padding: 5%;
}

.home-section-cards p a {
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 160%;
}

/* Regular Comedy Nights Section */

#regular-section-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#regular-section {
    background: url('../images/small-audience.jpg') no-repeat 20% 50%;
    background-color: #967d47;
    background-blend-mode: screen;
    background-size: cover;
    padding-bottom: 5%;
}

#regular-blurb {
    text-align: center;
    background: #2b2b2bef;
    font-weight: 600;
    line-height: 160%;
    width: auto;
    height: auto;
    padding: 20px;
    margin-bottom: 30px;
}

#regular-section h2 {
    padding: 5%;
}

#regular-nights-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

/* Upcoming Gigs Section */
.upcoming-gigs-section {
    background: url('../images/orange-stage.jpg') no-repeat center;
    width: auto;
}

.upcoming-gigs-section h2 {
    padding: 5%;
}

.upcoming-gigs-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    padding: 3%;
}

.upcoming-gigs-grid .gigs-boxes {
    max-width: 250px;
    background-color: #363636cc;
}

/* footer bar */

footer {
    margin-top: 2rem;
    height: 100px;
}

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 280%;
    margin: 1%;
    padding: 5%;
    color: #ffa500;
}

/* contact form */

.contact-section {
    clear: left;
    background: url('../images/mic-pass.jpg');
    background-size: cover;
    background-position: center;
    height: 1200px;
}

.contact-form {
    margin: 150px 10% 0 0;
    color: #fff;
    max-width: 400px;
    max-height: 1000px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.text-input {
    color: #000000;
    font-size: 120%;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffa500;
    border-radius: 2px;
    padding: 0 10px 0 10px;
}

.textarea-input {
    height: 250px;
}

.text-input:hover {
    border-color: #ffffff;
}

.fire-away-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 130%;
    font-weight: 700;
    background-color: #ffa500;
    color: black;
    display: block;
}

.fire-away-button:hover {
    background-color: #fafafa;
    color: #ffa500;
}

/* comedy-links page */
#comedy-links-bg {
    clear: left;
    background-image: url(../images/orange-mic.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#link-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 50px;
}

.warning-emphasis {
    color: #ff0000;
    font-weight: bolder;
    text-transform: uppercase;
}

.link-cards {
    background-color: #2b2b2b;
    min-width: 90%;
    min-height: 300px;
}

.link-cards p {
    margin: 20px;
}

.psnote {
    font-weight: 100;
    font-style: italic;
}

.link-cards p a {
    font-weight: bolder;
    text-transform: uppercase;
}


.link-page-sections {
    text-align: center;
    max-width: 100%;
}

.link-page-sections h2,
.link-page-sections h3 {
    padding: 1em;
    background: #000000;
}

map-section iframe {
    width: 80%;
    aspect-ratio: 1/1;
}

.icon-map-section {
    display: none;
    background: #000000;
}

.icon-map-section a {
    font-size: 500%;
}

/* Media Queries */
@media screen and (min-width: 600px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #link-cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 800px) {
    .home-sections h1 {
        height: 100px;
    }
}

@media screen and (max-width: 700px) {
    #link-cards-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10%;
        padding: 10%;

    }
}

@media screen and (max-width: 620px) {

    .logos {
        font-size: 260%;
        margin-left: 10%;
    }



    .big-logo {
        display: none;
    }

    .small-logo {
        display: block;
    }

    .mobile-menu {
        display: inline;
    }


    #menu {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .map-section {
        display: none;
    }

    .icon-map-section {
        display: block;
    }

    #cover-text {
        left: 10px;
    }
}

@media screen and (max-width: 420px) {
    #link-cards-container {
        margin: 3%;
        padding: 3%;

    }

    #cover-text {
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 auto;
        gap: 30px;
    }

    .mobile-menu {
        margin: 0;
    }
}

@media screen and (max-width: 380px) {
    .home-sections h1 {
        height: 140px;
    }

    #link-cards-container {
        margin: 0;

    }
}

@media screen and (max-width: 350px) {
    header {
        justify-content: center;
    }

    header ul {
        padding-inline-start: 0;
    }

    header ul li:nth-last-child(1) {
        margin-right: 0;
    }

    .logos,
    .mobile-menu {
        line-height: 50px
    }


}